{% extends 'home/base.html' %} 
{% load static %}

{% block external_link %}
    <link rel="stylesheet" href="{% static 'memory/css/memory.css' %}">
{% endblock %}

{% block content %}

<section class="memory-zone">
    <div class="container-fluid">
        <div class="container">
            
            <div class="memory-info d-grid gap-2 col-lg-6 mx-auto mt-4">

                <div class="card">
                    <div class="card-body">

                        <h3 class="card-title text-success">{{memory.name}}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">{{memory.created}}</h6>
                        <p class="card-text">{{memory.comment}}</p>
                    </div>                    
                </div>

                {{map|safe}}

            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block external_script %}{% endblock %}